<a href="https://colab.research.google.com/github/PratikshaShelke24/data-science/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas

In [1]:
#import library
import pandas as pd

In [2]:
#create dataframe
data={
    'name':['pratiksha','shubham','jimin','shreya'],
    'age':[28,24,35,32],
     'city':['seoual','paris','londan','united state']
}
df=pd.DataFrame(data)
print(df)

        name  age          city
0  pratiksha   28        seoual
1    shubham   24         paris
2      jimin   35        londan
3     shreya   32  united state

In [3]:
#series
ages=pd.Series([23,33,34,45])
print(ages)

0    23
1    33
2    34
3    45
dtype: int64

In [ ]:
#import dataset using csv file

In [18]:
#df=pd.read_csv('jewelry111.csv')
df=pd.read_csv('sales_data_sample.csv',encoding='latin1')

In [19]:
df.to_csv('output.csv',index=False)

In [20]:
#cheack missing value in our dataset
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [21]:
#filling missing values
df.fillna(0)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,0,NYC,NY,10022,USA,0,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,0,Reims,0,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,0,Paris,0,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,0,Pasadena,CA,90003,USA,0,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,0,San Francisco,CA,0,USA,0,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",0,Madrid,0,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,0,Oulu,0,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",0,Madrid,0,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,0,Toulouse,0,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,0,Boston,MA,51003,USA,0,Yoshido,Juri,Medium

In [22]:
#drop rows with missing values
df.dropna()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,2005,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667,10120,43,76.00,14,3268.00,4/29/2003 0:00,Shipped,2,4,2003,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
2673,10223,26,67.20,15,1747.20,2/20/2004 0:00,Shipped,1,2,2004,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Small
2685,10361,44,100.00,10,5001.92,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
2764,10361,35,100.00,11,4277.35,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
2791,10361,23,95.20,12,2189.60,12/17/2004 0:00,Shipped,4,12,2004,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small

In [23]:
#remove duplicate values
df.drop_duplicates()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [31]:
#selecting colums
print(df['SALES'])

0       2871.00
1       2765.90
2       3884.34
3       3746.70
4       5205.27
         ...
2818    2244.40
2819    3978.51
2820    5417.57
2821    2116.16
2822    3079.44
Name: SALES, Length: 2823, dtype: float64

In [33]:
#filtering rows
df_filtered=df[df['SALES'] > 5000]
print(df_filtered)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
4           10159               49      100.0               14  5205.27
7           10188               48      100.0                1  5512.32
20          10341               41      100.0                9  7737.93
25          10417               66      100.0                2  7516.08
26          10103               26      100.0               11  5404.62
...           ...              ...        ...              ...      ...
2685        10361               44      100.0               10  5001.92
2686        10375               44      100.0               11  5208.72
2689        10401               77       92.0                9  7084.00
2715        10397               48      100.0                3  5192.64
2820        10386               43      100.0                4  5417.57

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
4     10/10/2003 0:00   Shipped       4        10     2003  ...
7     11/18/2003 0:00   Shipped       4        11     2003  ...
20    11/24/2004 0:00   Shipped       4        11     2004  ...
25     5/13/2005 0:00  Disputed       2         5     2005  ...
26     1/29/2003 0:00   Shipped       1         1     2003  ...
...               ...       ...     ...       ...      ...  ...
2685  12/17/2004 0:00   Shipped       4        12     2004  ...
2686    2/3/2005 0:00   Shipped       1         2     2005  ...
2689    4/3/2005 0:00   On Hold       2         4     2005  ...
2715   3/28/2005 0:00   Shipped       1         3     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...

                                 ADDRESSLINE1  ADDRESSLINE2           CITY  \
4                             7734 Strong St.           NaN  San Francisco
7                 Drammen 121, PR 744 Sentrum           NaN         Bergen
20                                Geislweg 14           NaN       Salzburg
25                         C/ Moralzarzal, 86           NaN         Madrid
26                     Erling Skakkes gate 78           NaN        Stavern
...                                       ...           ...            ...
2685  Monitor Money Building, 815 Pacific Hwy       Level 6      Chatswood
2686             67, rue des Cinquante Otages           NaN         Nantes
2689                            7476 Moss Rd.           NaN         Newark
2715                    1 rue Alsace-Lorraine           NaN       Toulouse
2820                       C/ Moralzarzal, 86           NaN         Madrid

     STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
4       CA        NaN        USA       NaN           Brown            Julie
7      NaN     N 5804     Norway      EMEA          Oeztan           Veysel
20     NaN       5020    Austria      EMEA           Pipps            Georg
25     NaN      28034      Spain      EMEA          Freyre            Diego
26     NaN       4110     Norway      EMEA      Bergulfsen            Jonas
...    ...        ...        ...       ...             ...              ...
2685   NSW       2067  Australia      APAC          Huxley           Adrian
2686   NaN      44000     France      EMEA         Labrune           Janine
2689    NJ      94019        USA       NaN           Brown          William
2715   NaN      31000     France      EMEA          Roulet          Annette
2820   NaN      28034      Spain      EMEA          Freyre            Diego

     DEALSIZE
4      Medium
7      Medium
20      Large
25      Large
26     Medium
...       ...
2685   Medium
2686   Medium
2689    Large
2715   Medium
2820   Medium

[549 rows x 25 columns]

In [34]:
#data transformation
df['SALES']=df['SALEs']=8

In [35]:
#apply functinos
df['SALES']=df['SALES'].apply(lambda x:x*2)

In [39]:
#grouping data
group=df.groupby('ORDERNUMBER')['SALEs'].mean()